* {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  width: 100%;
  /*not sure what goes in here*/
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-5, .col-6, .col-7, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-5, .col-6, .col-7, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.333%;
  }

  .col-5 {
    width: 41.667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.333%;
  }

  .col-12 {
    width: 100%;
  }
}
