body {
  background: #222;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  color: #fff;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.4em;
}

h2 {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  background: #222;
  top: 0;
  z-index: 1000;
  height: 50px;
  border-bottom: 1px solid #ccc;
  color: #fff;
  width: 100%;
}

nav .row {
  height: 100%;
}

footer {
  background: #222;
  color: #fff;
  height: 50px;
  padding: 1px 0;
  border-top: 1px solid #ccc;
}

footer p {
  text-align: center;
}

.blue-accent {
  color: #59f8e8;
}

.nav-header {
  height: 50px;
  display: block;
}

a.brand {
  color: #aaa;
  letter-spacing: 1px;
  font-weight: 700;
  float: left;
  line-height: 20px;
  font-size: 18px;
  padding: 15px 0;
}

a.brand:hover {
  color: #59f8e8;
}

.hamburger-menu {
  position: relative;
  float: right;
  border: none;
  background: none;
  padding: 9px 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu-bar {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #aaa;
}

.menu-bar+.menu-bar {
  margin-top: 4px;
}

.nav-right {
  display: none;
  overflow: hidden;
}

.nav-right ul {
  list-style: none;
  padding: 0;
}

.nav-right li {
  display: inline-block;
  margin-left: 10px;
}

.nav-right a {
  color: #aaa;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-right a:hover {
  color: #59f8e8;
}

/* class for scroll spy */
a.active {
  color: #59f8e8;
}

/*.nav-open {
  float: none;
  display: block;
  background: #222;
  width: 100vw;
  height: 172px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.nav-open ul {
  margin: 0;
}

.nav-open li {
  display: block;
  width: 100%;
  margin-left: 0;
  padding: 10px 15px;
}*/

.portfolio-screenshot {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.portfolio-item {
  margin-bottom: 50px;
}

.portfolio-item img {
  border-radius: 5px;
}

.portfolio-item p {
  text-align: justify;
}

.portfolio-tools {
  padding: 20px 0;
}

.portfolio-tools p {
  text-align: center;
}

.portfolio-links {
  margin-top: 20px;
}

.portfolio-links a {
  text-decoration: none;
  display: inline-block;
  background: #59f8e8;
  border: 1px solid #59f8e8;
  color: #000;
  font-weight: 700;
  width: 6rem;
  padding: 5px;
  margin: 0 2px;
  border-radius: 18px;
}

.portfolio-links a:hover {
  color: #59f8e8;
  background: #222;
}

.contact-icons {
  padding-top: 5%;
  font-size: 2em;
}

.contact-icons a {
  text-decoration: none;
  color: #fff;
}

.contact-icons a:hover {
  color: grey;
}

.about-header {
  height: 50vh;
}

#title-section {
  height: 50vh;
  text-align: center;
  padding-top: 20%;
}

#about-section {
  text-align: center;
}

#about-section img {
  display: block;
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 50%;
}

#about-section p {
  margin: 10px auto;
  text-align: justify;
}

#portfolio-section {
  height: auto;
  text-align: center;
}

#contact-section {
  min-height: 300px;
  text-align: center;
}

/* mobile only styles */
@media (max-width: 767px) {
  .nav-right {
    background: #222;
    width: 100vw;
    height: 172px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  .nav-right ul {
    margin: 0;
  }

  .nav-right li {
    display: block;
    width: 100%;
    margin-left: 0;
    padding: 10px 15px;
  }
}

/* tablet size and up styles*/
@media (min-width: 768px) {
  h1 {
  font-size: 4em;
  }

  h3 {
    font-size: 24px;
  }

  .row {
    padding: 1% 5%;
    margin-left: -15;
    margin-right: -15;
  }

  .nav-header {
    display: inline-block;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-right {
    display: block !important;
    float: right;
    height: 50px;
  }

  .nav-right li {
    display: inline-block;
    margin-left: 10px;
  }

  #title-section {
    text-align: center;
    padding-top: 10%;
  }

  #about-section p {
    width: 90%;
    text-align: center;
    font-size: 1.1em;
  }

  #about-section img {
    height: 80%;
    width: auto;
  }
}

/* desktop size and up styles */
@media (min-width: 992px) {
  .portfolio-description {
    position: relative;
    min-height: 375px;
  }

  .portfolio-description h3 {
    margin-top: 0;
  }

  .portfolio-tools {
    position: absolute;
    bottom: 0;
    width: 95%;
  }

  #title-section {
    text-align: left;
  }
}
